.light-grey {
  background-color: #fcf8e8;
}

code {
  background: #e6e7ea;
  border: 1px solid #eaedf1;
  border-radius: 3px;
  padding: 3px;
  color: black;
}

.text-wrap {
  font-size: 14px;
  line-height: 1.66;
}

pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal;
}
