<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="icon" href="img/virus.svg" />
    <title>Covid Apis</title>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="img/virus.svg" width="30" height="30" alt="" />
        Covid Api
      </a>
    </nav>
    <div class="title">
      <h1 class="display-3 text-center">Covid Api</h1>
      <p class="lead m-0 text-center">let's get started sharing is caring</p>
    </div>
    <div class="col-lg-12">
      <div class="card mt-4" style="width: 100%;">
        <div class="card-header bg-light">
          <h5 class="card-title pt-2">Data Dunia</h5>
        </div>
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
